#title{
	position: absolute;
	top: 50px;
	left: 50px;
	color:red;
	font-size: 50;
}
#image{
	position: absolute;
		top: 50px;
		left: 750px;
		height: 600px;
		width: 600px;
}
#linkStart{
	position: absolute;
	top:500px;
	left:450px;
	font-size: 30
}